# Using dataframes

## Objective:
- Learn how to use dataframes to open excel files and csv files to process information better and faster.

## Requirements
- It's needed to install the following python libraries to work with the dataframes and excel files.
    * pandas
    * numpy
    * openpyxl

**Note:** Open a terminal and instal using the command:
```bash
pip install pandas numpy openpyxl
```

In [1]:
# Needed libraries
import pandas as pd
import functions as func
func.create_NetflixExcelFile()

In [35]:
# Open excel files
path = './data/Netflix Top 10 Weekly Dataset.xlsx'
excel = pd.ExcelFile(path)

# Check the sheets in the excel file
sheets = excel.sheet_names
print(sheets)

['all-weeks-global', 'all-weeks-countries', 'most-popular']

In [36]:
# Get the information from "all-weeks-countries"
df = excel.parse(sheet_name="all-weeks-countries")
df

,country_name,country_iso2,week,category,weekly_rank,show_title,season_title,cumulative_weeks_in_top_10
0,Argentina,AR,2024-06-23,Films,1,Trigger Warning,NaN,1
1,Argentina,AR,2024-06-23,Films,2,Cuando acecha la maldad,NaN,2
2,Argentina,AR,2024-06-23,Films,3,Inheritance,NaN,1
3,Argentina,AR,2024-06-23,Films,4,Inheritance,NaN,4
4,Argentina,AR,2024-06-23,Films,5,Mission: Impossible - Dead Reckoning,NaN,2
...,...,...,...,...,...,...,...,...
290855,Vietnam,VN,2021-07-04,TV,6,Reply 1988,Reply 1988: Season 1,1
290856,Vietnam,VN,2021-07-04,TV,7,"Nevertheless,","Nevertheless,: Limited Series",1
290857,Vietnam,VN,2021-07-04,TV,8,Too Hot to Handle,Too Hot to Handle: Season 2,1
290858,Vietnam,VN,2021-07-04,TV,9,Record of Ragnarok,Record of Ragnarok: Season 1,1
290859,Vietnam,VN,2021-07-04,TV,10,Crash Landing on You,Crash Landing on You: Limited Series,1

In [20]:
df.loc[(df['country_name'].isin(['Mexico'])) & (df['category'].isin(['Films'])) & (df['week'].isin(['2022-01-16'])), 
       ['country_name', 'week', 'category', 'show_title', 'weekly_rank', 'cumulative_weeks_in_top_10']]

/var/folders/5b/9mpgz_cx3ysbg2l891nwn7640000gn/T/ipykernel_1889/1004127087.py:1: FutureWarning: The behavior of 'isin' with dtype=datetime64[ns] and castable values (e.g. strings) is deprecated. In a future version, these will not be considered matching by isin. Explicitly cast to the appropriate dtype before calling isin instead.
  df.loc[(df['country_name'].isin(['Mexico'])) & (df['category'].isin(['Films'])) & (df['week'].isin(['2022-01-16'])),

,country_name,week,category,show_title,weekly_rank,cumulative_weeks_in_top_10
30160,Mexico,2022-01-16,Films,Brazen,1,1
30161,Mexico,2022-01-16,Films,The Secret Life of Pets 2,2,1
30162,Mexico,2022-01-16,Films,Mother/Android,3,2
30163,Mexico,2022-01-16,Films,The Clovehitch Killer,4,1
30164,Mexico,2022-01-16,Films,Don't Look Up,5,4
30165,Mexico,2022-01-16,Films,Sin Nombre,6,2
30166,Mexico,2022-01-16,Films,Back to the Outback,7,6
30167,Mexico,2022-01-16,Films,Fast & Furious Presents: Hobbs & Shaw,8,4
30168,Mexico,2022-01-16,Films,Hotel Transylvania 3: Summer Vacation,9,10
30169,Mexico,2022-01-16,Films,Yesterday,10,1

In [31]:
df = pd.read_csv('./data/all-weeks-countries.tsv', sep='\t')
df.head()

,country_name,country_iso2,week,category,weekly_rank,show_title,season_title,cumulative_weeks_in_top_10
0,Argentina,AR,2024-06-23,Films,1,Trigger Warning,NaN,1
1,Argentina,AR,2024-06-23,Films,2,Cuando acecha la maldad,NaN,2
2,Argentina,AR,2024-06-23,Films,3,Inheritance,NaN,1
3,Argentina,AR,2024-06-23,Films,4,Inheritance,NaN,4
4,Argentina,AR,2024-06-23,Films,5,Mission: Impossible - Dead Reckoning,NaN,2